.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  width: 100vw;
  height: 110px;
}

.form {
  color: white;
  background: #282c34;
  width: 20vw;
  padding: 10px;
  height: 60vh;
  position: fixed;
  top: 18.6vh;
  right: 8vw;
  margin: 50px;
  border-radius: 20px;
  
}
input {
  text-align: center;

}

.main-page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 70vh;
}

.product-box {
  border-radius: 20px;
  width: 50vw;
  background: #282c34;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 2vw;
  margin: 7vw;
}

.icon {
  position: fixed;
  top: 20px;
  left: 20px;
}

.title {
  position: fixed;
  top: -15px;
  left: 105px;
}

button {
  padding: 10px;
  border-radius: 15px;
  margin: 80px 20px 20px 20px;
  width: 100px;
  font-size: 1rem;
}

.edit-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}
